<launch>
    <arg name="ns" default="robot_0"/>
    <arg name="robot_gazebo_ns" default="$(arg ns)/go2_gazebo"/>
    <arg name="robot_path" default="$(find go2_description)"/>

    <arg name="initial_x" default="0.0"/>
    <arg name="initial_y" default="0.0"/>
    <arg name="initial_z" default="0.5"/>

    <arg name="auto_fixedstand" default="true"/>
    <arg name="auto_fixedstand_delay_s" default="10.0"/>
    <arg name="auto_move_base" default="true"/>
    <arg name="auto_move_base_delay_s" default="1.0"/>


    <group ns="$(arg ns)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder
            '$(arg robot_path)/xacro/robot.xacro' DEBUG:=false
            robot_namespace:=$(arg robot_gazebo_ns)"/>

        <rosparam file="$(arg robot_path)/config/robot_control.yaml" command="load"/>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
            respawn="false" output="screen">
            <param name="tf_prefix" value="$(arg robot_gazebo_ns)"/>
            <remap from="joint_states" to="go2_gazebo/joint_states"/>
        </node>

        <!-- Spawn robot model in Gazebo (model name cannot contain '/') -->
        <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
            args="-urdf -x $(arg initial_x) -y $(arg initial_y) -z $(arg initial_z)
            -model $(arg ns) -param robot_description -unpause"/>

        <!-- Load joint controller configurations from YAML file to parameter server -->
        <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" output="screen"
            ns="go2_gazebo" args="joint_state_controller 
            FL_hip_controller FL_thigh_controller FL_calf_controller
            FR_hip_controller FR_thigh_controller FR_calf_controller
            RL_hip_controller RL_thigh_controller RL_calf_controller
            RR_hip_controller RR_thigh_controller RR_calf_controller"/>

        <!-- robot_name format: "namespace/base_name" (e.g., "robot_0/go2") -->
        <node pkg="unitree_guide" type="junior_ctrl" name="junior_ctrl" output="screen">
            <param name="robot_name" value="$(arg ns)/go2"/>
            <param name="base_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
            <param name="auto_fixedstand" value="$(arg auto_fixedstand)"/>
            <param name="auto_fixedstand_delay_s" value="$(arg auto_fixedstand_delay_s)"/>
            <param name="auto_move_base" value="$(arg auto_move_base)"/>
            <param name="auto_move_base_delay_s" value="$(arg auto_move_base_delay_s)"/>
        </node>

        <!-- AMCL 定位（不设置初始位置，等待机器人稳定后由 init_pose 节点设置） -->
        <!-- <include file="$(find scout_navigation)/launch/amcl_multi.launch">
            <arg name="robot_namespace" value="$(arg ns)"/>
            <arg name="scan_topic" value="go2_gazebo/scan"/>
            <arg name="odom_frame_id" value="$(arg ns)/odom"/>
            <arg name="initial_pose_x" value="$(arg initial_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_y)"/>
            <arg name="initial_pose_a" value="0"/>
            <arg name="base_frame_id" value="$(arg robot_gazebo_ns)/base_gazebo"/>
            <arg name="global_frame_id" value="map"/>
            <arg name="odom_model_type" value="diff"/>
            <arg name="use_map_topic" value="true"/>
        </include> -->

        <!-- 不使用 gazebo_true_odom.py，改用静态 TF 发布器来设置固定的 map->odom TF -->
        <node pkg="unitree_move_base" type="gazebo_true_odom.py" name="gazebo_true_odom" output="screen">
            <param name="model_name" value="$(arg ns)"/>
            <param name="map_frame" value="map"/>
            <param name="base_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
            <param name="odom_frame" value="$(arg ns)/odom"/>
            <param name="rate" value="100.0"/>
            <remap from="/gazebo/model_states" to="/gazebo/model_states"/>
        </node>

        <!-- 向 AMCL 发布一次初始位置（等机器人稳定后，从 Gazebo ground truth 获取） -->
        <!-- <node pkg="unitree_move_base" type="init_pose.py" name="init_pose" output="screen">
            <param name="model_name" value="$(arg ns)"/>
            <param name="initialpose_topic" value="initialpose"/>
            <param name="frame_id" value="map"/>
            <param name="delay" value="$(arg auto_fixedstand_delay_s)"/>
            <param name="repeat" value="3"/>
            <param name="repeat_dt" value="0.1"/>
        </node> -->

        <!-- move_base_flex (支持 ExePath action 执行 roadmap 路径) -->
        <include file="$(find unitree_move_base)/launch/move_base_flex.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="robot_gazebo_ns" value="$(arg robot_gazebo_ns)"/>
        </include>

        <!-- 使用静态 TF 发布器来设置固定的 map->odom TF（固定 odom 帧） -->
        <node name="static_tf_broadcaster_map_odom" pkg="tf2_ros" type="static_transform_publisher"
            args="$(arg initial_x) $(arg initial_y) 0 0 0 0 /map $(arg ns)/odom"/>

    </group>

</launch>