<launch>
    <arg name="rname" default="go2"/>
    <arg name="robot_path" value="$(find go2_description)"/>


    <arg name="initial_x" default="-2.0"/>
    <arg name="initial_y" default="10.0"/>
    <arg name="initial_z" default="0.5"/>

    <arg name="auto_fixedstand" default="true"/>
    <arg name="auto_fixedstand_delay_s" default="10.0"/>
    <arg name="auto_move_base" default="true"/>
    <arg name="auto_move_base_delay_s" default="1.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find aws_robomaker_hospital_world)/worlds/hospital.world"/>
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="false"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
        <arg name="verbose" default="true"/>
    </include>

    <!-- Map server -->
    <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(find unitree_move_base)/maps/hospital.yaml" /> -->

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder
        '$(arg robot_path)/xacro/robot.xacro' DEBUG:=false"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="$(arg rname)_gazebo/joint_states"/>
    </node>

    <!-- Set trunk and joint positions at startup -->
    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
        args="-urdf -x $(arg initial_x) -y $(arg initial_y) -z $(arg initial_z)
        -model $(arg rname)_gazebo -param robot_description -unpause"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(arg robot_path)/config/robot_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
        output="screen" ns="/$(arg rname)_gazebo" args="joint_state_controller
        FL_hip_controller FL_thigh_controller FL_calf_controller
        FR_hip_controller FR_thigh_controller FR_calf_controller
        RL_hip_controller RL_thigh_controller RL_calf_controller
        RR_hip_controller RR_thigh_controller RR_calf_controller "/>

    <!-- load the parameter unitree_controller -->
    <!-- <include file="$(find unitree_controller)/launch/set_ctrl.launch">
        <arg name="rname" value="$(arg rname)"/>
    </include> -->

    <node pkg="unitree_guide" type="junior_ctrl" name="junior_ctrl" output="screen">
        <param name="robot_name" value="$(arg rname)"/>
        <param name="auto_fixedstand" value="$(arg auto_fixedstand)"/>
        <param name="auto_fixedstand_delay_s" value="$(arg auto_fixedstand_delay_s)"/>
        <param name="auto_move_base" value="$(arg auto_move_base)"/>
        <param name="auto_move_base_delay_s" value="$(arg auto_move_base_delay_s)"/>
    </node>

    <node name="static_tf_broadcaster_1" pkg="tf2_ros" type="static_transform_publisher"
        args="$(arg initial_x) $(arg initial_y) 0 0 0 0 map odom"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find unitree_guide)/rviz/single_go2.rviz"/>

</launch>
