<?xml version="1.0"?>

<launch>
    <arg name="world_name" default="$(find unitree_move_base)/worlds/hospital.world"/>
    <arg name="map_file" default="hospital"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find unitree_move_base)/maps/$(arg map_file).yaml" />

    <!--robot 0-->
    <include file="$(find hospital_simulation)/launch/spawn_mini_simple.launch">
        <arg name="x" value="2.0"/>
        <arg name="y" value="8.0"/>
        <arg name="z" value="0.5"/>
        <arg name="yaw" value="1.57"/>
        <arg name="robot_namespace" value="robot_0"/>
    </include>

    <!--robot 1-->
    <!-- <include file="$(find hospital_simulation)/launch/spawn_mini_simple.launch">
        <arg name="x" value="0.0"/>
        <arg name="y" value="10.0"/>
        <arg name="z" value="0.4"/>
        <arg name="yaw" value="1.57"/>
        <arg name="robot_namespace" value="robot_1"/>
    </include> -->

    <!--robot 2-->
    <!-- <include file="$(find hospital_simulation)/launch/spawn_mini_simple.launch">
        <arg name="x" value="-2.0"/>
        <arg name="y" value="10.0"/>
        <arg name="z" value="0.4"/>
        <arg name="yaw" value="1.57"/>
        <arg name="robot_namespace" value="robot_2"/>
    </include> -->
    <node pkg="rviz" type="rviz" name="rviz_move_base" args="-d $(find hospital_simulation)/config/multi_mini.rviz"/>
    
</launch>
