<launch>
  <arg name="ns" default=""/>
  <arg name="robot_gazebo_ns" default="go2_gazebo"/>

  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen" required="true">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="global_costmap/robot_base_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
    <param name="local_costmap/robot_base_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="local_costmap/global_frame" value="$(arg ns)/odom"/>
    <param name="global_costmap/scan/topic" value="go2_gazebo/scan"/>
    <param name="local_costmap/scan/topic" value="go2_gazebo/scan"/>
    <param name="global_costmap/obstacle_layer/scan/topic" value="go2_gazebo/scan"/>
    <param name="local_costmap/obstacle_layer/scan/topic" value="go2_gazebo/scan"/>
    <param name="global_costmap/static_layer/map_topic" value="/map"/>

    <rosparam file="$(find unitree_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find unitree_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find unitree_move_base)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find unitree_move_base)/config/global_costmap_params.yaml" command="load" />
    
    <!-- Move Base Flex 配置（包含 planners 和 controllers） -->
    <rosparam file="$(find unitree_move_base)/config/move_base_flex.yaml" command="load" />
    
    <!-- 规划器和控制器参数 -->
    <rosparam file="$(find unitree_move_base)/config/navfn_global_planner_params.yaml" command="load" />
    <rosparam file="$(find unitree_move_base)/config/teb_local_planner_params.yaml" command="load" />
    
    <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg robot_gazebo_ns)/lidar"/>
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg robot_gazebo_ns)/lidar"/>
    
    <!-- move_base_flex 可能需要显式设置 robot_frame 参数 -->
    <param name="robot_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
    
    <!-- 设置 robot_obstacles observation source for local costmap -->
    <param name="local_costmap/obstacle_layer/robot_obstacles/topic" value="robot_obstacles"/>
    <param name="local_costmap/obstacle_layer/robot_obstacles/sensor_frame" value="base_gazebo"/>
    <!-- 设置 robot_obstacles observation source for global costmap -->
    <param name="global_costmap/obstacle_layer/robot_obstacles/topic" value="robot_obstacles_global"/>
    <param name="global_costmap/obstacle_layer/robot_obstacles/sensor_frame" value="$(arg robot_gazebo_ns)/base_gazebo"/>
  </node>
  
  <!-- 机器人障碍物点云发布器 -->
  <!-- 注意：go2使用scout_navigation包中的脚本 -->
  <!-- 注意：节点已经在 go2_bringup.launch 的 group ns 下运行，所以不需要再设置 ns -->
  <node pkg="scout_navigation" type="robot_obstacle_publisher.py" name="robot_obstacle_publisher" output="screen">
    <param name="robot_namespace" value="$(arg ns)"/>
    <param name="distance_threshold" value="3.0"/> 
    <param name="robot_radius" value="0.5"/>  
    <param name="publish_rate" value="30.0"/> 
    <param name="footprint" value="[[0.3, 0.15], [0.3, -0.15], [-0.35, -0.15], [-0.35, 0.15]]"/>
    <param name="robot_namespaces" value="robot_0,robot_1,robot_2,robot_3,robot_4,robot_5"/>
  </node>
</launch>

